.currencyCalculatorContainer {
  padding-block: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #e08938; */
  background-color: #ee963a;
}

.inputContainer {
  width: clamp(42ch, 85%, 120ch);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.inputContentTo,
.inputContentFrom {
  flex: 1 1 48%;
  min-width: 35ch;
  position: relative;
  display: flex;
  background-color: white;
  /* border: 3px solid pink; */
}

.fromAndTo {
  position: absolute;
  top: -20px;
  font-weight: bolder;
  color: black;
}

.info {
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.info,
.dropdown {
  width: 68%;
  border-right: 1px solid #ee963a;
}

.dropdown {
  padding: 0.25rem;
  position: relative;
  cursor: pointer;
}

.dropdownContent {
  display: flex;
  align-items: center;
}

.dropdownMenu {
  display: none;
  width: 100%;
  position: absolute;
  top: calc(100% + 0.35rem);
  left: 0;
  background-color: white;
}

.dropdownMenu li {
  padding: 0.5rem;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.dropdownMenu li:nth-child(odd) {
  background-color: #f5f5f5;
}

.dropdownMenu li img {
  margin-right: 0.5rem;
}

.dropdownMenu li span {
  font-weight: bold;
}

.inputNumberTo,
.inputNumberFrom {
  display: flex;
  flex-direction: column;
  width: 32%;
}

.inputNumberTo input,
.inputNumberFrom input {
  padding-right: 0.3rem;
  width: 100%;
  height: 100%;
  /* font-size: 1.2rem; */
  letter-spacing: 1px;
  font-weight: bold;
  font-family: inherit;
  text-align: right;
  border: none;
}

.inputNumberTo input::placeholder,
.inputNumberFrom input::placeholder {
  letter-spacing: normal;
  font-weight: normal;
}

.inputNumberTo input:focus,
.inputNumberFrom input:focus {
  outline: none;
}

.inputContentTo.focused,
.inputContentFrom.focused {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#sumContainer {
  margin-top: 0.75rem;
  background-color: white;
  width: clamp(42ch, 85%, 120ch);
  padding: 1rem;
}

.currencyInfo {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  width: clamp(15ch, 95%, 38ch);
}

.sumContainerFrom {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: clamp(15ch, 95%, 38ch);
}

.sumContainerTo {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: clamp(15ch, 95%, 38ch);
  border: 1px solid pink;
}

.currencyRatesContainer {
  margin: 2rem 0 1rem;
  width: clamp(42ch, 85%, 120ch);
  display: flex;
  flex-direction: column;
}

.currencyRatesContainerHeader {
  padding: 1rem;
  width: 100%;
  background-color: #64b8ba;
  color: white;
  font-size: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#currencyContainer {
  padding-block: 1rem;
  padding-left: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.toSekCard {
  display: flex;
  align-items: center;
}

.toSekCard img {
  margin-right: 0.2rem;
}
.eurAndUsdToSekContainer {
  margin-block: 2.5rem;
  width: clamp(20ch, 75%, 90ch);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eurAndUsdToSekHeader {
  padding: 1rem;
  width: 100%;
  background-color: #64b8ba;
  color: white;
  font-size: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.exampleContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.exampleContainer h3 {
  margin: 1rem 0 1.35rem;
}

.exampleContainer > *:nth-child(1) {
  margin-block: 0.5rem;
  flex: 1 1 50%;
  min-width: 35ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exampleContainer > *:nth-child(2) {
  margin-block: 0.5rem;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#usdToSekContent {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eurToSekContent {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popularCurrencyToSekCard {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #64b8ba;
  width: clamp(20ch, 70%, 39ch);
}

.popularCurrencyToSekCard span {
  margin-inline: 0.3rem;
}

.errorMessage {
  text-wrap: pretty;
  padding: 0.5rem;
  color: red;
}
