.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0a657;
}

.footerPictures {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.25rem;
}

.footer h3 {
    font-size: 1.7rem;
    margin-bottom: 1.25rem;
}

.footer p {
    margin-top: 0.3rem;
    font-style: italic;
}