.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0a657;
}

.footerPictures {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.25rem;
}

.footerPictures img {
    width: 55px;
    height: 55px;
}

.footer h3 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.footer p {
    margin-top: 0.5rem;
    font-style: italic;
}